<article class="venue">
  <header class="venue__header">
    <h2 class="venue__headline">{{venue.header}}</h2>
  </header>
  <div class="venue__container">
    <figure>
      <img src="https://loremflickr.com/600/400" loading="lazy" />
    </figure>
    {{#each venue.text}}
    <p class="venue__text">{{{this}}}</p>
    {{/each}}
  </div>
</article>
