/**
 * Introduction section styles
 */
.fpi-introduction {
  background-color: $white;
  margin: 0 auto;
  max-width: 680px;
  padding: 40px 8px 40px;
  position: relative;

  @include screen-from(mobile-up) {
    padding-bottom: 19px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @include screen-from(mobile-max) {
    padding-left: 24px;
    padding-right: 24px;
  }

  .body-text.serif {
    color: $dark-gray;
    font: 400 17px/1.47 $benton;
    margin: 0 auto 20px;
    max-width: 600px;
  }
}
