/**
 * Introduction section styles
 */
.fpi-introduction {
  background-color: $white;
  margin: 0 auto;
  max-width: 680px;
  padding: 40px 8px 40px;
  position: relative;

  .body-text.serif {
    color: $dark-gray;
    margin: 0 auto 20px;
    max-width: 600px;
  }
}
