<article class="articles">
  <header class="articles__header">
    <h2 class="articles__headline">{{introduction.header}}</h2>
  </header>
  {{#each introduction.text}}
  <p class="articles__text">{{{this}}}</p>
  {{/each}}
</article>
