/**
 * Week Header styles
 */
.fpi-week__header {
  align-items: center;
  background-color: $blue;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.fpi-week__header-hed {
  color: $white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.62px;
  line-height: 1;
  margin-left: 12px;

  @include screen-from(mobile-up) {
    margin-left: 16px;
  }
}