// Colors
$black: #000;
$blue: #06c;
$dark-gray: #4a4a4a;
$light-gray: #d8d8d8;
$medium-gray: #808080;
$white: #fff;

// Fonts
$benton: 'BentonSans', sans-serif;
$benton-bold: 'BentonSansBold', 'BentonSansMedium', 'BentonSans', sans-serif;
$benton-medium: 'BentonSansMedium', 'BentonSans', sans-serif;
$tungsten: 'HCo Tungsten', 'BentonSans', sans-serif;