/**
 * Week styles
 */
.fpi-week {
  background-color: $white;
  margin: 0 auto;
  max-width: 680px;
  overflow-x: hidden;
  position: relative;
}

.fpi-week.is-superbowl {
  @include screen-from(tablet) {
    max-width: none;
  }
}

@import './header/header';
@import './opener/opener';
@import './introduction/introduction';
@import './weekly-winners/weekly-winners';
@import './analysis/analysis';
@import './performers/performers';
@import './table/table';

.fpi-week.is-5 .fpi-week__introduction {
  margin-bottom: 0;
}
