<main class="wedding">
  {{> ../nav/Nav}}
  {{> ../opener/Opener}}
  {{> ../introduction/Introduction}}
  {{> ../polaroids/Polaroids}}
  {{> ../accomodations/Accomodations}}
  {{> ../polaroids/Polaroids}}
  {{> ../venue/Venue}}
  {{> ../polaroids/Polaroids}}
  {{> ../credits/Credits}}
</main>