<main class="wedding is-loading">
  {{> ../nav/Nav}}
  {{> ../opener/Opener}}
  <section class="content">
    {{> ../introduction/Introduction}}
    {{> ../timeline/Timeline}}
    {{> ../credits/Credits}}
  </section>
</main>