<main class="fpi-main">
  {{> ../opener/Opener}}
  {{> ../sticky-header/StickyHeader}}
  {{> ../introduction/Introduction}}
  {{> ../week/Week}}
  {{> ../credits/Credits}}
  {{> ../related-stories/RelatedStories}}
</main>