/**
 * Week Introduction text styles
 */
.fpi-week__introduction.body-text {
  color: $dark-gray;
  padding-left: 8px;
  padding-right: 8px;

  &:last-of-type {
    margin-bottom: 2px;
  }

  @include screen-from(mobile-up) {
    padding-left: 16px;
    padding-right: 16px;
  }
}