/**
 * Text analysis of the weekly leaderboard graphics
 */
.fpi-analysis {
  background-color: $white;
  border-bottom: 1px solid $medium-gray;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 0 18px;
  position: relative;
  width: calc(100% - 16px);

  &.is-single {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 11px;

    @include screen-from(tablet) {
      padding-bottom: 15px;
    }
  }

  @include screen-from(mobile-up) {
    width: calc(100% - 32px);
  }

  @include screen-from(mobile-max) {
    width: calc(100% - 48px);
  }

  @include screen-from(tablet) {
    width: calc(100% - 80px);
  }

  .body-text.serif {
    color: $dark-gray;
    font: 400 17px/1.47 $benton;
    margin-top: 0;
  }
}

.fpi-analysis__hed {
  font: 400 17px/1.47 $benton-bold;
  text-transform: uppercase;
}

.fpi-analysis__image {
  filter: none;
  height: auto;
  margin-bottom: 17px;
  margin-left: -8px;
  opacity: 1;
  transition: filter 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  width: calc(100% + 16px);

  &.is-lazy {
    filter: blur(3px);
    opacity: 0.25;
  }

  @include screen-from(mobile-up) {
    margin-left: -16px;
    width: calc(100% + 32px);
  }

  @include screen-from(mobile-max) {
    margin-left: -24px;
    width: calc(100% + 48px);
  }

  @include screen-from(tablet) {
    margin-left: 0;
    padding-top: 2px;
    width: 100%;
  }
}