<article class="fpi-analysis">
  {{#each analysis}}
  {{#compare 'subhead' '===' this.type}}
  <h3 class="fpi-analysis__hed">{{{this.text}}}</h3>
  {{/compare}}
  {{#compare 'text' '===' this.type}}
  <p class="body-text serif">{{{this.text}}}</p>
  {{/compare}}
  {{#compare 'image' '===' this.type}}
  {{> ../../image-helper/ImageHelper}}
  {{/compare}}
  {{/each}}
</article>