<aside class="fpi-related-stories">
  <h4 class="fpi-related-stories__hed">Related Stories</h4>

  <p class="fpi-related-stories__container">
    {{#each related-stories.stories}}
    <a class="fpi-related-stories__link" href="{{this.url}}" rel="noopener"><span>{{{this.text}}}</span></a>
    {{/each}}
  </p>
</aside>
