<figure class="polaroids is-counterclockwise">
  <img class="polaroids__image" src="https://loremflickr.com/280/280" loading="lazy" />
  <figcaption class="polaroids__figcaption">
    <p class="polaroids__caption">CAPTION</p>
  </figcaption>
</figure>
