<!DOCTYPE html>
<html lang="en">
<head>
  <title>Justin + Tyler — 2023</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Justin McCraw" />
  <meta name="description" content="Brief description" />
  <meta property="og:title" content="Justin + Tyler — 2023" />
  <meta property="og:description" content="Website for the wedding of Justin + Tyler" />
  <meta property="og:image" content="/some-image.png" />
  <meta property="og:url" content="/this-page.html" />
  <meta property="og:site_name" content="Justin + Tyler" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="image description" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

</head>
<body>

  {{> components/main/Main content}}
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollTrigger.min.js"></script>

</body>
</html>