<!DOCTYPE html>
<html lang="en">
<head>
  <title>NFL FPI Sim 2020</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Your name" />
  <meta name="description" content="Brief description" />
  <meta property="og:title" content="Your Page Title" />
  <meta property="og:description" content="Brief description" />
  <meta property="og:image" content="/some-image.png" />
  <meta property="og:url" content="/this-page.html" />
  <meta property="og:site_name" content="Your Site Name" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="image description" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />


  <link rel="stylesheet" type="text/css" href="https://a.espncdn.com/combiner/c?v=19&css=pagetype/otl/tungsten/HCo_tungsten.css,fonts/bentonsans.css,fonts/bentonsansmedium.css,fonts/bentonsansbold.css,pagetype/otl/publico/publico-secure.css,pagetype/otl/longform_styleguide/css/styleguide.css&disableOptimizations=true&minify=false" />

</head>
<body>


<!-- <noptags><photo1-wide> -->
  {{> components/main/Main}}
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollTrigger.min.js"></script>


</body>
</html>