<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="robots" content="noindex, nofollow, noarchive">
  <meta name="AdsBot-Google" content="noindex">
  <title>Justin + Tyler — 2023</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Justin McCraw" />
  <meta name="description" content="Wedding website for Justin and Tyler" />
  <meta property="og:title" content="Justin + Tyler — 2023" />
  <meta property="og:description" content="Website for the wedding of Justin + Tyler" />
  <meta property="og:image" content="https://www.justinandtyler.com/public/share-image.jpg" />
  <meta property="og:url" content="https://justinandtyler.com/" />
  <meta property="og:site_name" content="Justin + Tyler" />
  <meta name="twitter:card" content="Justin + Tyler 2023" />
  <meta name="twitter:image:alt" content="Justin + Tyler homepage screenshot" />
  <link rel="icon" href="https://www.justinandtyler.com/public/favicon.ico" sizes="any">
  <style>
    .wedding {
      background-color: #292f15;
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
    }

    .wedding.is-loading::after {
      background-color: #292f15;
      bottom: 0;
      content: '';
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 99;
    }
  </style>
</head>
<body>

  {{> components/main/Main content}}
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.111.0"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/ScrollTrigger.min.js"></script>

</body>
</html>