/*
 * Nav containing jump links with smooth scroll
 */
.nav {
  align-items: center;
  background-color: $sage;
  border: 2px solid $sage-accent;
  border-bottom: none;
  border-radius: 5px 5px 0 0  ;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: toRems(38px);
  justify-content: space-between;
  left: 50%;
  max-width: toRems(800px);
  padding: 0 toRems(25px) 0 toRems(24px);
  position: fixed;
  transform: translate3d(-50%, 0, 0);
  width: calc(100% - 40px)  ;
  z-index: 7;

  &__link {
    background-color: $sage;
    color: $cream;
    font: 400 toRems(15px)/1 $monospace;
    letter-spacing: 0rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.25s ease-in-out;

    &.is-current,
    &:hover {
      background-color: $burnt;
    }
  }
}
