<nav class="nav">
  <a href="#introduction" class="nav__link">Intro</a>
  <a href="#mountaintop" class="nav__link">Mountaintop</a>
  <a href="#travel-accommodations" class="nav__link">Travel &amp; Accommodations</a>
  <a href="#day-after" class="nav__link">Day After</a>
  <a href="#in-the-area" class="nav__link">In the Area</a>
  <a href="#registry" class="nav__link">Registry</a>
</nav>
<button class="nav__button" type="button" aria-label="Open/close mobile nav menu"><img class="nav__icon--open" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA7klEQVR4nO3UMUoDQRSH8UljFQvBO1gpOYAH0NLGc2hlJSLeQGy8Rc6QoI2FlnZCRIJltDCN/GRhAxa6O0tm4oL7wTTDe+9j/g8mhI62gB52cYohHjHFR3mm5d2wrClqe8sI13CMJ80peo6KGU2lO+UrlqWYsR0rHWAmHcWsQYz4QXruY8RZCBHicQbvKGrP/wd5Yl4w/ivxaKUpthucY14R1xvucI1DbP4wYx0XeP3WN8dZlfi94d4+cYsTbOEAL7/UzqrEV/JxWRd3HxuJTz+0Ftys9PNYIBOhDjxn8E5ixPuJ5RPs1Yo7OkIivgBDT4UsskpbPgAAAABJRU5ErkJggg==" aria-role="presentation" /><img class="nav__icon--closed" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAQAAACQ9RH5AAABp0lEQVR42u3Yv0tCQQDAcbVIIpOWMLKGpqCyQv+BlrTFcAvXpoj+BMMtqMagodEgiBoiyqUh2h37hQ6SkRWk1RAl1vs2FBXlqc/e+YLu+1aPDx539zwtFpXqn0YDLoYIEKon2sYku5yQRyNeH9LOMHPk+OwIr3y2n23yfG8Bu0zUyTR3lOqeKZzY5LDtbFFE1D37+PHgodlY1sUe1eUzdpJ3wAw4TMEcOAXmwHqaockc+Jgu4+CkLnqNTho/xlqx1g77ddKHTNP9/vTQol6oqtILa5xzZJUhKGKtXCKzrGCzmQZbLATJSGPPhFOt+hf72EmUKzThAimQJk6EUXpxit9EOBgjztPHOI1LZmkVw9Eyvy2/9kyWBCuEcJTYlCMc8PhjTJGIGNa/jx/YZIK+t2+DlW7mS6BvXYjh25p2qMY1CRYZJMxpmc/diOFlXqQdIC8sieEONsosrd+ksY6r/Mp248Vn8OPFrc6MP3R6BXRdYqorid/Yu1P1pYy9wujoD8N5KW6uMrwqBY5Vhj2kDWfTDFSGbXiIGTjheWIMSPp7SqVSqeraK4DdVcQShxlBAAAAAElFTkSuQmCC" aria-role="presentation" /></button>