<nav class="nav">
  <a href="#introduction" class="nav__link">Intro</a>
  <a href="#mountaintop" class="nav__link">Mountaintop</a>
  <a href="#travel-accommodations" class="nav__link">Travel &amp; Accommodations</a>
  <a href="#day-after" class="nav__link">Day After</a>
  <a href="#in-the-area" class="nav__link">In the Area</a>
  <a href="#registry" class="nav__link">Registry</a>
</nav>