/*
 * Opener landing page styles
 */
.fpi-opener {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $medium-gray;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  height: var(--fpi-vh, calc(100vh - 30px));
  justify-content: flex-end;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  width: 100%;

  .fpi-opener__dek {
    display: block;
  }

  @media screen and (max-width: 500px) and (max-aspect-ratio: 3/8) {
    justify-content: center;
  }

  // For longer Android support
  @media screen and (min-width: 360px) {
    justify-content: center;
  }

  @include screen-from(tablet) {
    height: var(--fpi-vh, 100vh);
    justify-content: flex-end;
  }

  @include screen-from(landscape) {
    justify-content: flex-end;
  }

  // Fix for IE11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow: hidden;
  }
}

.fpi-opener__figure {
  background-color: transparent;
  height: 100%;
  margin: 0 auto;
  max-height: calc(47.9vh - 35px);
  max-width: 890px;
  position: relative;
  margin-top: 35px;
  width: auto;

  @media screen and (max-width: 500px) and (max-aspect-ratio: 3/8) {
    height: auto;
    max-height: none;
    max-width: 100%;
    width: 100%;
  }

  @include screen-from(mobile-up) {
    max-height: calc(53.4vh - 35px);
  }

  @include screen-from(mobile-max) {
    max-height: calc(55.4vh - 35px);
  }

  @include screen-from(tablet) {
    max-height: calc(58.6vh - 35px);
  }

  @include screen-from(desktop) {
    margin-top: 48px;
    max-height: calc(60.8vh - 48px);
  }

  @media screen and (min-width: 1023px) and (max-height: 690px) {
    margin-top: 48px;
    max-height: calc(68vh - 48px);
  }
}

.fpi-opener__background-image {
  display: block;
  height: 100%;
  margin: 0;
  max-height: calc(47.9vh - 35px);
  max-width: 100%;
  object-fit: cover;
  padding: 0;
  position: relative;
  width: auto;

  @media screen and (max-width: 500px) and (max-aspect-ratio: 3/8) {
    height: auto;
    max-height: none;
    max-width: 100%;
    width: 100%;
  }

  @include screen-from(mobile-up) {
    max-height: calc(53.4vh - 35px);
  }

  @include screen-from(mobile-max) {
    max-height: calc(55.4vh - 35px);
  }

  @include screen-from(tablet) {
    max-height: calc(58.6vh - 35px);
  }

  @include screen-from(desktop) {
    max-height: calc(60.8vh - 48px);
  }

  @media screen and (min-width: 1023px) and (max-height: 690px) {
    max-height: calc(68vh - 48px);
  }
}

.fpi-opener__image {
  height: 100%;
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: translate3d(-50%, 0, 0);
  width: auto;

  &.is-desktop {
    display: block;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &.is-mobile {
    display: block;
    object-position: top center;

    @include screen-from(tablet) {
      display: none;
    }
  }

  @include screen-from(landscape) {
    &.is-desktop {
      display: block;
    }

    &.is-mobile {
      display: none;
    }
  }

  @include screen-from(tablet) {
    height: 100%;
    width: auto;
  }

  @media screen and (min-width: 890px) {
    left: 0;
    transform: translate3d(0, 0, 0);
  }

  // Fix for IE11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: auto;
  }
}

.fpi-opener.is-active .fpi-opener__image {
  opacity: 1;
}

.fpi-opener__hed.headline {
  color: $black;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  z-index: 2;

  @include screen-from(mobile-up) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (max-width: 624px) {
    font-size: 52px;
    line-height: 0.81;
  }

  @media screen and (min-width: 767px) and (max-aspect-ratio: 3/4) {
    font-size: 96px;
    letter-spacing: normal;
    line-height: 0.79;
    max-width: 542px;
  }

  @include screen-from(landscape) {
    max-width: none;
  }

  @media screen and (min-width: 799px) {
    font-size: 96px;
    letter-spacing: normal;
    line-height: 0.79;
    margin-bottom: 2px;
    max-width: 850px;
  }

  @media screen and (min-width: 1023px) and (max-height: 690px) {
    font-size: 52px;
    line-height: 0.81;
  }
}

.fpi-opener__dek {
  color: $dark-gray;
  margin: 0;
  padding: 0 8px;
  text-align: center;
  z-index: 2;

  @include screen-from(mobile-up) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include screen-from(mobile-max) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @include screen-from(tablet) {
    max-width: 500px;
    padding: 0;
  }

  @include screen-from(landscape) {
    max-width: 85%;
  }

  @media screen and (min-width: 799px) {
    max-width: 650px;
  }
}

.fpi-opener__dek .byline {
  color: $medium-gray;
  margin-top: 8px;
}

.fpi-opener__button {
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 32px;
  margin: 8px auto 16px;
  outline: none;
  padding: 0;
  position: relative;
  touch-action: manipulation;
  transition: background-color 0.25s ease-in-out;
  width: 32px;

  svg {
    height: 20px;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  svg g {
    stroke: $blue;
    transition: stroke 0.25s ease-in-out;
  }

  @include screen-from(tablet) {
    margin-bottom: 24px;
    margin-top: 11px;
  }

  @include screen-from(landscape) {
    margin-bottom: 8px;
  }

  @include screen-from(desktop) {
    margin-bottom: 24px;
    margin-top: 14px;
  }
}

.fpi-opener.is-active .fpi-opener__hed,
.fpi-opener.is-active .fpi-opener__dek,
.fpi-opener.is-active .fpi-opener__button {
  opacity: 1;
  transform: translateY(0);
}

.fpi-opener__button:hover {
  @include screen-from(tablet) {
    background-color: $blue;

    svg g {
      stroke: $white;
    }
  }
}

.fpi-opener__button:active {
  background-color: $white;
  transition: none;

  svg g {
    stroke: $blue;
    transition: none;
  }
}
